.logo{
    height: 50px;
    display: block;
    margin: auto;
    border-radius: 30px;
}

body{
    background-image: url("../img/bg.png");
    background-size: cover;
    height: 100vh;
}
h1{
    margin: 8px;
    text-align: center;
    color: #03d4be;
}

.container{
    max-width: 50%;
    height: 60vh;
    border: 2px solid black;
    margin: auto;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 9px;
}

.message{
    border: 2px solid black;
    width: 250px;
    background-color: #e5e5e5;
    margin: 9px 3px;
    height: 35px;
    border-radius: 5px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    width: 100%;
    max-width: 90%;
    display: block;
    margin: auto;
    text-align: center;
}

#messageinp{
    width: 56%;
    height: 28px;
    border: 2px solid black;
    border-radius: 4px;
}
.btm{
    border: 2px solid black;
    width: 50px;
    border-radius: 4px;
    height: 33px;
}

@media only screen and (max-width: 600px) {
    .logo{
        height: 40px;
    }

    h1{
        font-size: 24px;
    }

    #messageinp {
    width: 71%;
    }
}